<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Загрузочный экран</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <!-- Загрузочный экран -->
    <div id="loader" class="loader">
        <h1>Загрузка...</h1>
    </div>

    <!-- Основное содержимое сайта -->
    <div id="mainContent" class="main-content" style="display: none;">
        <h1>Добро пожаловать на мой сайт!</h1>
        <p>Это основное содержимое страницы.</p>
    </div>

    <script src="script.js"></script>
</body>
</html>